body{
	background-image: url(img/2.jpg);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 250px;
	margin-right: 250px;
	justify-content: center;
	font-family: sans-serif;
	font-family: Helvetica;
    font-size: 18px;
}
tr{color: #fafafa;
	display: flex;
	justify-content:space-around;
}
button{
	border-radius: 15px;
	height: 30px;
	width: 150px;
	border: 3px solid black;
	font-family: Helvetica;
    font-size:18px;
}
h2{
	font-family: Helvetica;
    font-size:36px;
    color: #fafafa;
}
p{
	color: #fafafa;
	font-family: Helvetica;
	font-size:18px;
}